.main{
	height: 350px;
	width: 800px;
	background: whitesmoke;
}
.a{
	height: 300px;
	width: 200px;
	background: white;
	margin-top: 20px;
	float: left;
	margin-left:50px;
	border-radius: 30px;
	margin-top: 25px;

}
.b{
	height: 300px;
	width: 200px;
	background: white;
	margin-top: 20px;
	float: left;
	margin-left:40px;
	border-radius: 30px;
	margin-top: 25px;

}
.c{
	height: 300px;
	width: 200px;
	background: white;
	margin-top: 20px;
	float: left;
	margin-left:40px;
	border-radius: 30px;
	margin-top: 25px;

}
i{
	color: blue;
	margin-top: 30px;
	font-size: 60px;
}
p{
	border-bottom: 2px solid blue ;
	font-size: 16px;
    padding: 5px;
}
button{
	background-color: blue; 
	color: white; 
	height: 35px; 
	width: 130px; 
    border-radius: 30px
}