#id{
	background-color:skyblue;
	color:black;
	font-size:50px;
	font-family:fantasy;
}
h3,p,span{
	background-color:skyblue;
	color:black;
	font-size:50px;
	font-family:fantasy;
}

*{
	font-family:cursive;
	margin:5px;
	padding:5px;
}

input[type]{
	color:skyblue;
	background-color:black;
}

input[type="e-mail"]{
	color: black;
	background-color:gray;
}
input[type="password"]{
	color: black;
}

img{
	border:"";
	width:50px;
	height:50px;
}