body{
    background-color:whitesmoke;
    font-style: initial;
    font-style:serif;
}
.main{
    height: 2950px;
    width:1140px;
    background-color: white;
    margin: auto;
}
#Home{
    height: 250px;
    width:1100px;
    
}
#Headers{
    height:330px;
    width:1100px;
    
}
#Text_formating{
    height:200px;
    width:1100px;
    
}
#List{
    height:450px;
    width:1100px;
    
}
#Text_formats{
    height: 600px;
    width: 1100px;
}
.sec{
    height: auto;
    width:80%;
    background-color: whitesmoke;
    text-align: center;
}
.code{
    height: auto;
    width:80%;
    background-color: whitesmoke;
    text-align: center;
}

#Blockquotes{
    height: 150px;
    width:1100px;
}
.content{
    margin:25px;
    font-style:italic;
}
#Form{
    height: 350px;
    width: auto;
}
.forms
{
    float:right;
}
.area{
    float: right;
    height: 200px;

}
.sub{
    float:right;
    width:200px;
}
#end{
    height:100px;
    width:auto;
    background-color:whitesmoke;
}
.sub1{
    text-align: center;
    padding: 40px;
}
.order{
    list-style-type: upper-alpha;
}
img{
    height: 60px;
    width: 80px;
}